/***************
***** TAGS *****
***************/
html { overflow: hidden; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Droid Sans,Helvetica Neue,sans-serif; font-size: 62.5%; line-height: 1.65; letter-spacing: .2px; }
* , *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { overflow: auto; overflow-x: auto; overflow-x: hidden; font-size: 1.4rem; color: #343f44; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
html, body { width: 100%; height: 100%; }
button { display: flex; border-width: 0; padding: 0; background-color: rgb(45, 55, 59); align-items: center; justify-content: center; font-size: 0; }
button:hover { cursor: pointer; }
button:hover > svg * { fill: #99f; }
p { max-width: 45em; color: #5e5d5d; text-align: left; }
p.strong { color: #1f1f1f; font-size: 1.25rem; }
header { padding-left: 2rem; text-align: center; }
article, aside, footer, header, nav, section { display: block; }

/****************
***** SIZES *****
****************/
.w4 { width: 1.6rem; }
.w9 { width: 3.6rem; }
.h4 { height: 1.6rem; }
.h9 { height: 3.6rem; }
.w-100 { width: 100%; }
.vh-100 { height: 100vh; }
.mih-100 { min-height: 100%; }

/*****************
***** ALIGNS *****
*****************/
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.center, .mr-auto { margin-right: auto; }
.center { margin-left: auto; }

/********************
***** POSITIONS *****
********************/
.relative { position: relative; }

/******************
***** MARGINS *****
******************/
.mt0 { margin-top: 0; }
.mb0 { margin-bottom: 0; }

/********************
***** Z-INDEXES *****
********************/
.z-0 { z-index: 0; }

/********************
***** OVERFLOWS *****
********************/
.overflow-y-auto { overflow-y: auto; }
.overflow-x-hidden { overflow-x: hidden; }

/*****************
***** FLEXES *****
*****************/
.flex { display: -webkit-box; display: flex; }
.flex-column, .flex-row { -webkit-box-direction: normal; }
.flex-column { -webkit-box-orient: vertical; flex-direction: column; }

/******************
***** CLASSES *****
******************/
.buttons-container { display: flex; justify-content: right; background-color: rgb(45, 55, 59); }
.fill-white g, .fill-white path { fill: #fff; }
.mobiledoc-output-wrapper { display: none; overflow: auto; position: absolute; top: 10%; left: 25%; z-index: 9990; width: 50%; height: 80%; background-color: #fff; border-radius: 9px; -webkit-box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.75); -moz-box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.75); box-shadow: 3px 3px 15px -4px rgba(0,0,0,0.75); }
.mobiledoc-output { padding: 1rem; white-space: pre-wrap; font-family: monospace; font-size: 12px; }
.toolbar { overflow: auto; margin: 0 0 25px 0; padding: 0; list-style: none; }
.toolbar > li { float: left; }
.disable-content { display: none; position: absolute; top: 0; left: 0; z-index: 9980; width: 100vw; height: 100vh; background-color: #fff; opacity: 0.7; }

/****************
***** GHOST *****
****************/
.gh-app { position: fixed; top: 0; right: 0; bottom: 0; left: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; height: 100%; }
.gh-app, .gh-viewport { display: -webkit-box; display: flex; overflow: hidden; }
.gh-main-white { background: #fff; }
.gh-main { position: relative; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; background: #f2f4f7; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; }
.gh-main > section { width: 100%; position: relative; }
.gh-viewport { max-height: 100%; }
.gh-main, .gh-viewport { -webkit-box-flex: 1; flex-grow: 1; }
.gh-canvas, .gh-view { -webkit-box-flex: 1; flex-grow: 1; }
.gh-view { display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.gh-koenig-editor-pane { padding: 11vw 92px; }
.gh-koenig-editor-pane .koenig-editor { cursor: text; }
.koenig-editor { max-width: 740px; }
.__mobiledoc-editor { margin: unset; line-height: 1.65; }

/*****************
***** STATES *****
*****************/
.hide-scroll { overflow: hidden; }
.show { display: block; }
